<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <div th:each="level : ${levels}" class="checkbox">
            <input type="checkbox" name="levelIds" th:value="${level.id}" th:id="${level.id}" />
            <label th:for="${level.id}" th:text="${level.name}"></label>
        </div>
        <input type="submit" value="Remove" />
    </form>
</body>
</html>