<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cards} and ${cards.size()}">No Flash Card</p>
    <table class="table">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Level</th>
        </tr>
        <tr th:each="card : ${cards}">
            <td th:text="${card.question}"></td>
            <td th:text="${card.answer}"></td>
            <td th:text="${card.level.name}"></td>
            <td><a th:href="@{'/card/edit/' + ${card.id}}">Edit</a></td>
        </tr>
    </table>
    <nav>
        <a href="/card/add">Add</a> |
        <a href="/card/remove">Remove</a>
    </nav>
</body>
</html>