<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <div th:each="card : ${cards}" class="checkbox">
            <input type="checkbox" name="cardIds" th:value="${card.id}" th:id="${card.id}" />
            <label th:for="${card.id}" th:text="${card.question}"></label>
        </div>
        <input type="submit" value="Remove" />
    </form>
</body>
</html>