<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${tests} and ${tests.size()}">No Fitness Test</p>
    <table class="table">
        <tr>
            <th>Fitness Test</th>
            <th>Level</th>
        </tr>
        <tr th:each="test : ${tests}">
            <td th:text="${test.name}"></td>
            <td th:text="${test.level.name}"></td>
            <td><a th:href="@{'/assessment/assess/' + ${test.id}}" target="_blank">Start</a></td>
        </tr>
    </table>
</body>
</html>